
<h1>{{heroe.nombre | uppercase}}<small> ({{heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row">
  <div class="col-md-4">
  
   <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
   <br><br>
   <a [routerLink]="['/heroes']" class="btn btn btn-outline-primary btn-block">Regresar</a>
 </div>

 <div class="col-md-8">
   <h3>{{heroe.nombre}}</h3>
   <hr>
   <p>
     {{heroe.bio}}
   </p>
   <div>
     <!-- Imagen de Marvel o DC depende que corresponda -->
     <img *ngIf="heroe.casa==='Marvel'" src="assets/images/marvel.png" alt="marvel"  height="50%"
     width="50%">
     <img *ngIf="heroe.casa==='DC'" src="assets/images/dc.png" alt="dc" height="50%"
     width="50%">
   </div>

 </div>
</div>
